<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon lister</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>
            Please select what pokemon type you would like to see:
        </h1>
    </header>
    
    <ul id="pokemon-list">
    <div class="general-container">
        <a href="fighting.html" target="_blank">
            <img src="../static/fighting.webp" alt="fighting type pokemon icon">
        </a>
        <a href="normal.html" target="_blank">
            <img src="../static/normal.webp" alt="normal type pokemon icon">
        </a>
        <a href="flying.html" target="_blank">
            <img src="../static/flying.webp" alt="flying type pokemon icon">
        </a>
    </div>
    <div class="general-container">
        <a href="water.html" target="_blank">
            <img src="../static/water.webp" alt="water type pokemon icon">
        </a>
        <a href="fire.html" target="_blank">
            <img src="../static/fire.png" alt="fire type pokemon icon">
        </a>
        <a href="grass.html" target="_blank">
            <img src="../static/grass.png" alt="grass type pokemon icon">
        </a>
    </div>
    <script src="../app.js" defer></script>
</body>
</html>