<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon lister</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>
            Pika observer
        </h1>
    </header>
    <button class="generate-btn" id="generate-pokemon">
        generate random pokemon
    </button>
    
    <div class="info-box">
        <h2 id="pokemon-name">
            Welcome to the Pokemon generator
        </h2>
        <img id="pokemon-img" src="" alt=".">



    </div>
    <script src="../app.js" defer></script>
</body>
</html>